<table>
    <tr>
    <td width="30%"><!--Insert image-->
        <img src = "/images/IMG_3667.PNG" alt ="My Photo" width="100%">
    </td>
    <td>
        <p>Hello, my name is Asad Mahmood.</p>
    </td>
    </tr>
    
</table><!--Insert Video-->
<video width="40%" controls poster="/images/IMG_3667.PNG" controls>
    <source src="/images/myVid.mp4" type="video/mp4"  > 
    </video>