<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>
            My Webpage
        </title>
        <link href="stylesheets/Style.css" rel="stylesheet">
        <link href="stylesheets/Stylesmall.css" rel="stylesheet" media="only screen and(max-width:480px)">
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about-me">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>

        <h1>WELCOME TO MY PAGE</h1>

        <%- body %>

        <footer>    
            copyright&copy; 2022 Asad Mahmood
        </footer>
    </body>
</html>