<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <title>
            My Webpage
        </title>
        <link href="stylesheets/Style.css" rel="stylesheet">
        <link href="stylesheets/Stylesmall.css" rel="stylesheet" media="only screen and(max-width:480px)">
    </head>

    <body>
        <%- include('./navbar') %>

        <h1>WELCOME TO MY PAGE</h1>
        <%- body %>

        <%- include('./footer') %>
    </body>
</html>